{% load bootstrap3 %} {% load static%}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Instagram</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous"/>
    <script src="https://kit.fontawesome.com/d3d6f2df1f.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Overpass+Mono" rel="stylesheet">

    {% block styles %} {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}" />
    <link rel="stylesheet" href="{% static 'css/login-details.css' %}" />
    <link rel="icon" href="" />
    {% endblock %}
    
  </head>
  <body>
    <main>
      <div class="log-in-container">
        <a href="/main" class="btn btn-dark my-3">Home Page</a>
        <div class="log-in">
          <!-- Logo -->
          <img src="https://i.imgur.com/zqpwkLQ.png" class="logo" />
          <!-- Log in form -->
          <div class="log-in-form">
            <input type="text" placeholder="Phone number, username or email" />
            <input type="password" placeholder="Password" />
            <button class="log-in-button">Log In</button>
          </div>
          <!-- OR divider -->
          <span class="or-divider">OR</span>
          <!-- Log in with Facebook -->
          <div class="fb-login">
            <a href="#">
              <img src="{% static '/images/pexels-pixabay-267399.jpg' %}" />
              <span>Log in with Facebook</span>
            </a>
          </div>
          <!-- Forgot password? -->
          <a href="/change_password">Forgot password?</a>
        </div>
        <!-- Sign up -->
        <div class="sign-up">
          <span>Don't have an account?</span><a href="/sign_up">Sign up</a>
        </div>
        <!-- Download app -->
        
      </div>
      <!-- Phones -->
      
    </main>
    <div class="container center mr-0">
      <footer class=" text-center">
        <ul class="footer-links">
          <li><a href="#">ABOUT</a></li>
          <li><a href="#">HELP</a></li>
          <li><a href="#">PRESS</a></li>
          <li><a href="#">API</a></li>
          <li><a href="#">JOBS</a></li>
          <li><a href="#">PRIVACY</a></li>
          <li><a href="#">TERMS</a></li>
          <li><a href="#">LOCATIONS</a></li>
          <li><a href="#">TOP</a></li>
          <li><a href="#">ACCOUNTS</a></li>
          <li><a href="#">HASHTAGS</a></li>
          <li><a href="#">LANGUAGE</a></li>
        </ul>
        <span class="copyright">&copy; 2020 INSTAGRAM FROM FACEBOOK</span>
      </footer>
    </div>
    
  </body>
</html>
