{% load bootstrap3 %} {% load static %}

<nav>
  <div class="menu-icon">
    <span class="fas fa-bars"></span>
  </div>
  <div class="logo">Gang Gang</div>
  <div class="nav-items">
    <li><a href="/">Base</a>Base</li>
    <li><a href="/home/">Home</a></li>
    <li><a href="/profile/">User_profile</a></li>
    <li><a href="/viewphoto/">viewphoto</a></li>
    <li><a href="/sign_up/">Sign UP</a></li>
    <li><a href="/login_user/">Login_user</a></li>
    <li><a href="/create_post">Create_post</a></li>
    <li><a href="/comments/">Comments</a></li>
    <li><a href="/admin">Admin</a></li>
    <li><a href="/nav-gram">Nav-gram</a></li>
  </div>
</nav>
