{% load bootstrap3 %} {% load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block styles %} {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}" />
    {% endblock %}

    <title>Document</title>
  </head>
  <body>
    <header>
      <div class="container">
        <div class="profile">
          <div class="profile-page">
            <img src="{% static '/images/Akan.png' %}" alt="User Image" />
          </div>
          <div class="profile-user-settings">
            <h1 class="profile-user-name">Mellanex</h1>
            <button class="btn profile-edit-btn">Edit Profile</button>
            <button
              class="btn profile-settings-btn"
              aria-label="Profile Settings"
            >
              <i class="fas fa-cog" aria-hidden></i>
            </button>
          </div>


          <div class="profile-stats">
            <ul>
              <li><span class="profile-stat-count"></span>Posts</li>
              <li><span class="profile-stat-count"></span>Followers</li>
              <li><span class="profile-stat-count"></span>Following</li>
            </ul>
          </div>


          <div class="profile-bio">
            <p><span class="profile-real-name">Mellanex</span>Hello Whats Up</p>
          </div>
<!-- Profile Section --> 
        </div>
      </div>
<!-- End of Container-->      
    </header>
    <main>
      <div class="gallery">


        <div class="gallery-item" tabindex="0">
          <img src="{% static '/images/FITNESS API (1).png' %}" alt="Gallery-1" class="gallery-image">
          <div class="gallery-item-info">
            <ul>
              <li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i class="fas fa-heart" aria-hidden>56</i></li>
              <li class="gallery-item-comments"><span class="visually-hidden">Comments:</span><i class="fas fa-comment" aria-hidden>2</i></li>
            </ul>
          </div>
        </div>

        <div class="gallery-item" tabindex="0">
          <img src="{% static '/images/FITNESS API (1).png' %}" alt="Gallery-1" class="gallery-image">
          <div class="gallery-item-info">
            <ul>
              <li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i class="fas fa-heart" aria-hidden>56</i></li>
              <li class="gallery-item-comments"><span class="visually-hidden">Comments:</span><i class="fas fa-comment" aria-hidden>2</i></li>
            </ul>
          </div>
        </div>


        <div class="gallery-item" tabindex="0">
          <img src="{% static '/images/Akan.png' %}" alt="Gallery-1" class="gallery-image">
          <div class="gallery-item-info">
            <ul>
              <li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i class="fas fa-heart" aria-hidden>56</i></li>
              <li class="gallery-item-comments"><span class="visually-hidden">Comments:</span><i class="fas fa-comment" aria-hidden>2</i></li>
            </ul>
          </div>
        </div>


        <div class="gallery-item" tabindex="0">
          <img src="{% static 'images/pexels-pixabay-355952.jpg' %}" alt="Gallery-1" class="gallery-image">
          <div class="gallery-item-info">
            <ul>
              <li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i class="fas fa-heart" aria-hidden>56</i></li>
              <li class="gallery-item-comments"><span class="visually-hidden">Comments:</span><i class="fas fa-comment" aria-hidden>2</i></li>
            </ul>
          </div>
        </div>


        <div class="gallery-item" tabindex="0">
          <img src="{% static 'images/Untitled design (1).png' %}" alt="Gallery-1" class="gallery-image">
          <div class="gallery-item-info">
            <ul>
              <li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i class="fas fa-heart" aria-hidden>56</i></li>
              <li class="gallery-item-comments"><span class="visually-hidden">Comments:</span><i class="fas fa-comment" aria-hidden>2</i></li>
            </ul>
          </div>
        </div>


        <div class="gallery-item" tabindex="0">
          <img src="{% static 'images/Untitled design.png' %}" alt="Gallery-1" class="gallery-image">
          <div class="gallery-item-info">
            <ul>
              <li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i class="fas fa-heart" aria-hidden>56</i></li>
              <li class="gallery-item-comments"><span class="visually-hidden">Comments:</span><i class="fas fa-comment" aria-hidden>2</i></li>
            </ul>
          </div>
        </div>


      </div>
    </main>
  </body>
</html>
