{% load bootstrap3 %} {% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous"/>
    <script src="https://kit.fontawesome.com/d3d6f2df1f.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Overpass+Mono" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">

    {% block styles %} {% bootstrap_css %}
    <link rel="stylesheet" href="{% static '/css/signup.css' %}" />
    <link rel="stylesheet" href="{% static '/css/signupdetails.css' %}" />
    {% endblock %}

</head>
<body>
    <main>
        <div class="log-in-container">
          <a href="{% url 'main' %}" class="btn btn-dark my-3">Home Page</a>
          <div class="log-in">
            <!-- Logo -->
            <img src="https://i.imgur.com/zqpwkLQ.png" class="logo" />
            <!-- Log in form -->
            <div class="log-in-form">
              <input type="text" placeholder="Email" />
              <input type="text" placeholder="Full Name" />
              <input type="text" placeholder="Username" />
              <input type="password" placeholder="Password" />
              <input type="text" placeholder="  Confirm-Password" />
              <button class="log-in-button">Sign Up</button>
            </div>
            <!-- OR divider -->
            
          </div>
          <!-- Sign up -->
          <div class="sign-up">
            <span>Already Have an Account</span><a href="{% url 'login_user' %}">Login User</a>
          </div>
          <!-- Download app -->
          
        </div>
        <!-- Phones -->
        
      </main>
      <div class="container center mr-0">
        <footer class=" text-center">
          <ul class="footer-links">
            <li><a href="#">ABOUT</a></li>
            <li><a href="#">HELP</a></li>
            <li><a href="#">PRESS</a></li>
            <li><a href="#">API</a></li>
            <li><a href="#">JOBS</a></li>
            <li><a href="#">PRIVACY</a></li>
            <li><a href="#">TERMS</a></li>
            <li><a href="#">LOCATIONS</a></li>
            <li><a href="#">TOP</a></li>
            <li><a href="#">ACCOUNTS</a></li>
            <li><a href="#">HASHTAGS</a></li>
            <li><a href="#">LANGUAGE</a></li>
          </ul>
          <span class="copyright">&copy; 2020 INSTAGRAM FROM FACEBOOK</span>
        </footer>
      </div>
 
</body>
</html>