{% load bootstrap3 %} {% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"crossorigin="anonymous"/>
    <script src="https://kit.fontawesome.com/d3d6f2df1f.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <script src="https://kit.fontawesome.com/621136387c.js" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    {% block styles %} {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/viewphoto.css' %}" />
    {% endblock %}

</head>
<body> 
    <div>
        <div class="center">
            <a href="{% url 'profile' %}" class="btn btn-dark my-3">Back</a>
        </div>

        <div class="card mb-8" style="max-width: 720px;">
            <div class="row g-0">
              <div class="col-md-8">
                <div class="text-center">
                    <img src="{% static '/images/Akan.png' %}" class="rounded" alt="...">
                </div>
              </div>
              <div class="col-md-4">
                <div class="card-body">
                  <h5 class="card-title">Username</h5>
                  <p class="card-text">Caption of the Photo</p>
                  <p class="card-text"><small class="text-muted">Time the  was taken</small></p>
                </div>
                <div class="text-center">
                    <a href="{% url 'comments' %}" class="btn btn-dark my-3">Comments</a>
                </div>
              </div>
            </div>
          </div>

        
        
        
    </div>
   
    
    
</body>
</html>